<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-03-22T16:58:17Z</date>
	<key>WorkspacePath</key>
	<string>/Users/bobbygintz/Documents/XCode Programming/sensortag-ios-source-code-example-sensortag-ios-source-code-example/SensorTag_iOS/SensorTag2-Example.xcodeproj</string>
</dict>
</plist>
